/* class created to perform opacity animation on description_dark when agent width is larger or equal laptop sizes */
.toggleDescription {
  opacity: 1;
  transition: all 200ms ease-in;
}

/* a styles */
a {
  text-decoration: none;
  color: #f0ebe7;
}

@media (min-width: 1368px) {
  a {
    text-decoration: none;
    color: #545353;
  }
  ul a {
    color: #f0ebe7;
  }
  a:hover {
    color: #de4030;
  }
}
