.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  background-image: url('./loading.gif');
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center;
}
.hidden {
  transition: opacity 1s ease-out;
  opacity: 0;
  pointer-events: none;
}
